PORT=3000
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

ADMIN_NOME=Administrador
ADMIN_CPF=00000000000
ADMIN_EMAIL=admin@medagenda.local
ADMIN_SENHA=111111

MEDICO_NOME=Médico Padrão
MEDICO_CPF=11111111111
MEDICO_EMAIL=medico@medagenda.local
MEDICO_SENHA=111111

DB_PATH=./database/medagenda.sqlite
MAX_DEPENDENTS=5
SESSION_TIMEOUT=30
