PORT=3000
FRONTEND_URL=http://localhost:5173
DB_PATH=medagenda.sqlite
JWT_SECRET=troque-esta-chave-no-ambiente-real
MAX_DEPENDENTS=5
SESSION_TIMEOUT=30

# Optional: the administrator is created on startup when these values exist.
ADMIN_NAME=Administrador
ADMIN_CPF=52998224725
ADMIN_PASSWORD=Adm123
ADMIN_PIN=2222
